/* creating css from mobile first persepctive */

/* color palette */

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "serif", "sans-serif";
    line-height: 1.5;
    background-color: rgb(29, 34, 49);
}

.hero-banner {
    background-color: rgb(6, 27, 43);
    background-image: url("../images/hero-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(248, 247, 184);
}

header h1 {
    font-size: 45px;
    margin-bottom: 0px;
    padding: 0px;
}

header h2 {
    font-family: "Jost", "serif", "sans-serif";
    font-size: 18px;
    margin-top: 0px;
    padding: 0px;
    max-width: 800px;
}

header h3 {
    font-family: "Jost", "serif", "sans-serif";
    font-size:15px;
    margin-bottom: 10px;
    padding: 0px;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:rgb(6, 27, 43);
    background-color: rgb(248, 247, 184);
    font-size: 22px;
    padding: 8px;
    margin-botton: 10px;
}

nav a:link {
    color:rgb(29, 34, 49)
}

nav a:visited {
    color:rgb(26, 101, 172)
}

nav a:hover {
    color:rgb(59, 70, 104)
}

nav a:active {
    color:rgb(6, 27, 43)
}

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Ubuntu", "serif", "sans-serif";
    color:rgb(248, 247, 184);
}

.about {
    display: flex;
    justify-content: space-evenly;
}

.about .img-wrap {
    width: 100%;
    margin: auto;
    flex: 0 0 20%;
}

.img-wrap img{
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
}

.about h2 {
    flex: 0 0 10%;
    margin-bottom: 10px;
}

.p-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

.p-wrapper a:link {
    color:rgb(248, 247, 184)
}

.p-wrapper a:visited {
    color:rgb(29, 114, 194)
}

.p-wrapper a:hover {
    color: rgb(99, 155, 207)
}

.p-wrapper a:active {
    color:rgb(248, 247, 184)
}