/* color palette */
:root {
    --bg: rgb(29, 34, 49);
    --yellow: rgb(248, 247, 184);
    --dblue: rgb(6, 27, 43);
    --blue: rgb(26, 101, 172);
    --lblue:rgb(99, 155, 207);
    --grey:rgb(59, 70, 104);
}


body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif, sans-serif;
    line-height: 1.5;
    background-color: var(--bg);
}

.hero-banner {
    background-color: var(--dblue);
    background-image: url("../images/hero-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 3s;
    margin: 0;
    padding: 0;
}

/* header and nav both in div wrapper, considered items of container class="hero-banner" */
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
    color: var(--yellow);
}

header h1 {
    font-size: 45px;
    margin-bottom: 0px;
    padding: 0px;
}

header h2 {
    font-family: "Jost", serif, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    padding: 0px;
    max-width: 800px;
}

header h3 {
    font-family: "Jost", serif, sans-serif;
    font-size:15px;
    margin-bottom: 10px;
    padding: 0px;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:var(--dblue);
    background-color: var(--yellow);
    font-size: 22px;
    padding: 8px;
    margin-bottom: 10px;
}

/* use color palette for link effects */
nav a:link {
    color: var(--bg);
}

nav a:visited {
    color: var(--blue);
}

nav a:hover {
    color: var(--grey);
}

nav a:active {
    color: var(--dblue);
}

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Ubuntu", serif, sans-serif;
    color: var(--yellow);
    background-color: var(--dblue);
}

/* this container will have two items for flex-box */
.about {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid var(--lblue);
    font-family: "Jost", serif, sans-serif;
}

/* wrap img to allow proper proportion change while maintaining resolution */
.about .img-wrap {
    width: 100%;
    margin: auto;
    flex: 0 0 20%;
}

.img-wrap img{
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 10px;
}

.about h2 {
    flex: 0 0 10%;
    margin-bottom: 10px;
    font-size: 25px;
}

/* flex-item 2 w/in container .about and also is flex-box container for h2 and p elements */
.p-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 40%;
    font-size: 18px;
}

/* use color palette for link effects for all a elemnts in under main */
main a:link {
    color:var(--yellow);
}

main a:visited {
    color:var(--blue);
}

main a:hover {
    color: var(--lblue);
}

main a:active {
    color:var(--yellow);
}

/* this container will have two items for flex-box */
.contact {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid var(--lblue);
    font-family: "Jost", serif, sans-serif;
}

.contact h2 {
    flex: 0 0 10%;
    font-size: 22px;
}

/* flex-item two within container .contact and also is flex-box container for a elements  */
.contact div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 80%;
    font-size: 20px;
}

/* use color palette for link effects */
.contact a:link {
    color: var(--yellow);
}

.contact a:visited {
    color: var(--blue);
}

.contact a:hover {
    color: var(--lblue);
}

.contact a:active {
    color: var(--yellow);
}

/* this container will have two items for flex-box */
.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid var(--lblue);
    font-family: "Jost", serif, sans-serif;
}

.projects h2{
    flex: 0 0 5%;
    font-size: 25px;
    text-align: right;
    margin-right: 40px;
}

.grid-layout {
    flex: 0 0 90%;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-layout a {
    border: 1px solid var(--lblue);
    background-color: var(--grey);
    background-size: 200%;
    margin: 10px;
    padding-top: 80px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    transition-duration: 3s;
}

.grid-layout h3 {
    background-color: var(--yellow);
    background-image: linear-gradient(.25turn, var(--yellow) 80%, var(--dblue));
    padding: 2px;
}

.grid-layout span {
    background-color: var(--yellow);
    padding: 2px;
}

/* feature project */
.grid-horiseon {
    background-image: url("../images/blue-dots.jpg");
    background-size: cover;
    flex: 100 0 80%;
}

.proj-2 {
    background-image: url("../images/green-geo.jpg");
    background-size: cover;
    flex: 3 0 auto;
}

.proj-3 {
    background-image: url("../images/purple-weave.jpg");
    background-size: cover;
    flex: 3 0 auto;
}

.proj-4 {
    background-image: url("../images/glare.jpg");
    background-size: cover;
    flex: 3 0 auto;
}

/* media query requirements for max-width 700px */
@media screen and (max-width: 900px) {
    header h1 {
        width: 100%;
        font-size: 8vw;
    }

    header h2 {
        width: 85%;
        font-size: 5vw;
    }

    header h3 {
        width: 85%;
        font-size: 3.8vw;
    }

    .about h2 {
        flex: 0 0 100%;
    }

    .p-wrapper {
        flex: 0 0 100%;
    }
}